body {
  font-family: sans-serif;
  background-color: #0f172a;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #move-buttons {
    display: flex;
    gap: 200px;
    .move {
      background-color: #7fc3d9;
      border: none;
      width: 40px;
      height: 50px;
      border-radius: 30%;
    }
    .move:hover {
      background-color: #adebff;
    }
  }

  #reset-and-moves {
    display: flex;
        gap: 400px;
  }
}
