body{
    background-color: rgb(67,67,67);
    color:white;
    font-family:arial,sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#canvas{
    display:flex;
    flex-direction: column;
    width:400px;
    height:400px;
    border-radius:10px;
    background-color:rgb(70,70,70);
    border:5px solid #333;
}
.message{
    border:2px solid #333;
    font-size:1.3rem;
}
button{
    color:white;
    background-color:rgb(70,70,70);
     cursor:pointer;
     border:none;
     font-size:1.4rem;
}
button:hover{
    background-color:rgb(80,80,80)
}
