body{
    display:flex;
    justify-content: center;
    #container{
        background-color:antiquewhite;
        border-radius:15px;
        padding:15px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #shape-selector{
        display:flex;
        justify-content: center;
            align-items:center;
            height:100px;
            width:200px;
            background-color: rgb(255, 250, 244);
            border-radius:15px;
            margin-bottom:15px;
            button{
                height:30px;
                border:none;
                background-color:rgb(255, 186, 96);
                border-radius:15px;
                color:white;
            }button:active{
                background-color:rgb(255, 168, 55);
            }
        }
        #shape-stack{
            background-color: rgb(255, 250, 244);
            height:100px;
            
            border-radius:15px;
            display:flex;
            .circle{
                background-color:rgb(255, 0, 0);
                border: 1px solid rgb(138, 0, 0);
                border-radius:50%;
            }
            .square{
                background-color:rgb(0, 0, 255);
                border:1px solid rgb(0, 0, 138);
            }
        }
    }
}
