#app-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
#tool-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  button {
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border: 1.5px solid lightgray;
    &:hover {
      background-color: lightgray;
    }
    &.selected {
      background-color: green;
      color: white;
      border-color: green;
    }
  }
}
#drawing-canvas {
  Circle {
    fill: rgba(255, 98, 0, 0.75);
    stroke: rgb(255, 98, 0);
  }
  Circle.temp {
    opacity: 0.5;
    fill: rgba(255, 98, 0, 0.2);
  }
  Rect {
    fill: rgba(153, 0, 255, 0.75);
  }
  Rect.temp{
    fill: rgba(153, 0, 255, 0.2);
    stroke: rgba(153, 0, 255);
  }
  .selected{
    stroke: yellow;
    stroke-width: 5px;
  }

}
.widget {
  border-radius: 8px;
  box-shadow: 0 2px 10px gray;
  background-color: whitesmoke;
}
body {
  background-color: rgb(251, 245, 238);
  font-family: sans-serif;
}
